@keyframes falling {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    100% {
      transform: translateY(120vh) rotate(180deg);
    }
  }

  .falling-dollar {
    animation: falling 20s ease-out infinite;
  }

  .bg-video-section {
    height: 100vh; /* Full height of the viewport */
  }

  .gradient-overlay {
    background: linear-gradient(
      to bottom,
      rgba(67, 59, 255, 0.8), /* Exact accent color (starting point) */
      rgba(255, 255, 255, 0.1) /* Pale white (ending point) */
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensures it doesn't block interactions */
    mix-blend-mode: overlay; /* Refined blend mode for better rendering */
  }
  